[submodule "eugine/vendor/spdlog"]
	path = eugine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "eugine/vendor/glfw"]
	path = eugine/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "eugine/vendor/glm"]
	path = eugine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "eugine/vendor/imgui/imgui"]
	path = eugine/vendor/imgui/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
